.form-control,
.form-select {
  background: #dcdcdc !important;
  border: 1px solid rgba(255,255,255,.08) !important;
  color: white !important;
}


.input-password {
    padding: 0.850rem .75rem !important;
}

.btn-view{
    background-color: #dcdcdc;
}

.btn-view:hover{
    background-color: #a9a5a5;
}

.users-login{
    display: flex;
    padding: 1.8em 0.2em 2.8em !important;
}


.title{
    border-bottom:2px solid white;
}


#passInput::placeholder{
    color:rgb(0, 0, 0);
}
